# Supabase Config Secrets
OPENAI_API_KEY=

# R2 / S3 Configuration for Video Upload Function
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=videoshopping
R2_PUBLIC_DOMAIN=

# Optional: Other Integrations
# SUPABASE_AUTH_EXTERNAL_APPLE_SECRET=
# SUPABASE_AUTH_SMS_TWILIO_AUTH_TOKEN=
